<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="opinioes">
        <title>Portf&oacutelio: Opini&otildees</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
      </head>
      <body>
        <header class="cabecalho">
          <img class="cabecalho-imagem" src="../img/logo.png" onclick="homepage()">
          <nav class="cabecalho-menu">
            <a class="hvr-pulse-shrink" href="index.html">P&aacutegina inicial</a>
            <a class="hvr-pulse-shrink" href="sobre.html">Sobre</a>
            <a class="hvr-pulse-shrink" href="pessoal.html">Ambi&ccedil&otildees</a>
            <a class="hvr-pulse-shrink" href="formulario.html">Formulário</a>
          </nav>
        </header>

        <main class="conteudo">
            <div class="div-form">
              <br>
              <h2>Contatos para mais dúvidas sobre o site!</h2><br>
              <br>
              <p>Bernardo Signor - (54) 9 990406070 <br><br>
                Roberto Bascolncelos - (54) 9 909023454 <br><br>
                Junior Garmin - (54) 9 989868600</p><br><br>
              <br>
              <p>Contatos dedicados para dúvidas e perguntas frequentes na criação do site. <br><br>
                Horário de atentimento: 07:30 até as 18:00!</p><br>
            <div>
        <main>
</html>