<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="main">
  <title>Portf&oacutelio: Bernardo Signor</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
  <header class="cabecalho">
    <img class="cabecalho-imagem" src="../img/logo.png">
    <nav class="cabecalho-menu">
      <a class="hvr-pulse-shrink" href="formulario.html">Formulário</a>
      <a class="hvr-pulse-shrink" href="sobre.html">Sobre</a>
      <a class="hvr-pulse-shrink" href="pessoal.html">Ambições</a>
      <a class="hvr-pulse-shrink" href="contato.html">Contato</a>
    </nav>
  </header>

  <main class="conteudo">
    <section class="conteudo-principal">
      <div class="conteudo-principal-escrito">
        <h1 class="conteudo-principal-escrito-titulo">Bem vindos!</h1>
        <h2 class="conteudo-principal-escrito-subtitulo">Site dedicado a mostrar um pouco do meu lado pessoal.</h2>
        <button class="conteudo-principal-escrito-botao" onclick="presentation()">Me conhe&ccedila!</button>
      </div>
      <img class="conteudo-principal-imagem" src="../img/img1.png">
    </section>

    <section class="conteudo-secundario">
      <h3 class="conteudo-secundario-titulo">Quem eu sou</h3>
      <p class="conteudo-secundario-paragrafo">1. Estudo <strong>Análise e Desenvolvimento de Sistemas na UPF</strong> e tenho 19 anos (No momento)</p>
      <p class="conteudo-secundario-paragrafo">2. Possuo um conhecimento em: <strong>HTML, CSS, JavaScript & Python</strong> e busco aprender cada vez mais</p>
      <p class="conteudo-secundario-paragrafo">3. <strong>Gosto muito de tecnologia</strong>, creio que s&atildeo coisas que podem mudar (e mudam) o mundo!</p>
    </section>
  </main>

  <footer class="rodape">
        <h3>Desenvolvido por: Bernardo Signor</h3>
  </footer>
  <script src='homepage.js'></script>
</body>

</html>