<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pessoal">
    <title>Portf&oacutelio: Pessoal</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <header class="cabecalho">
        <img class="cabecalho-imagem" src="../img/logo.png" onclick="homepage()">
        <nav class="cabecalho-menu">
            <a class="hvr-pulse-shrink" href="formulario.html">Formulário</a>
            <a class="hvr-pulse-shrink" href="sobre.html">Sobre</a>
            <a class="hvr-pulse-shrink" href="index.html">P&aacutegina inicial</a>
            <a class="hvr-pulse-shrink" href="contato.html">Contato</a>
        </nav>
    </header>

    <main class="conteudo">
        <div class="div-form">
            <br>
            <p class="texto">Bem vindo a p&aacutegina pessoal<br>Sobre mim</p>
            <br>
            <br>
            <h2>P&aacutegina pessoal/ambi&ccedil&otildees</h2><br>
            <br>
            <p class="pessoal">Meu nome &eacute Bernardo Signor e tenho 18 anos (no momento)<br>
                <br>
                Sou acad&ecircmico de Análise e Desenvolvimento de Sistemas na UPF (Universidade de Passo Fundo)
                <br>
                <br>
                Desde pequeno tive esse apre&ccedilo por tecnologia,
                conhei muito cedo esse meio atrav&eacute;s da utilização de hacks em um jogo, desde l&aacute; aprendi muito e
                fui me apaixonando ainda
                mais
                pelo mundo dos c&oacutedigos, espero conseguir chegar muito longe e estudo muito para isso. <br>
                <br>
                <br>
                Como ambi&ccedil&otildees, busco ser sempre o melhor no que fa&ccedilo e estudo para isso, sempre
                buscando ajuda e me
                desafiando para
                aprender cada vez mais, sempre ajudando as pessoas que posso, afinal, o mundo &eacute; feito de
                humildade e
                esfor&ccedilo.
                <br>
                <br>
                Desde j&aacute; agrade&ccedilo a quem veio ler aqui e visitar o meu site, voc&ecirc vai longe, seja onde
                for, boa sorte!
                <br>
                <br>
                Bernardo Signor
            </p>
        </div>
    </main>

    <footer class="rodape">
        <h3>Desenvolvido por: Bernardo Signor</h3>
    </footer>
    <script src='homepage.js'></script>
</body>

</html>